@media (min-width:600px) {
body {
 background: rgb(51, 51, 51);
display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
 flex-direction: column;
}
}
span {
 color: rgb(0, 0, 0);
}

  body > * {
  margin: 2em 1em;
}

/*Aqui se dibuja la caja con el input para dato*/
.box-1 {
  border: 1em white solid;
 padding: 10px;
 background-color: rgb(255, 255, 255);
 flex: 2;
 border-radius: 5px 5px 5px 5px;
  width: 200px;
}
.box-2 {
  border: 1em white solid;
 padding: 10px;
 background-color: rgb(255, 255, 255);
 flex: 1;
 border-radius: 5px 5px 5px 5px;
  width: 100px;
  
}




/* The best color ever */