body {
 background: rgb(51, 51, 51);
}

span {
 color: azure;
}

/*Contenedor del recuadro de entrada de datos*/
.parent-box {

 display: grid;
 justify-content: center;
 align-content: center;
 padding-top: 5%;
 padding-bottom: 10%;
}

/*Aqui se dibuja la caja con el input para dato*/
.child-box {
 display: grid;
 justify-content: center;
 align-content: center;
 background-color: cadetblue;
 padding: 20px 16px;
 width: 100%;
 border-radius: 5px 5px 5px 5px;

}




/* The best color ever */